<!-- <p>{{product | json}}</p> -->
<h3>Id {{product.id}}</h3>
<p class="lead" style="color:rgb(242, 7, 7)"> Category : {{product.category | titlecase}}</p>
<h2>{{product.title | uppercase}}</h2>
<button class="btn btn-warning" (click)="showProduct(product)">View</button>

<div *ngIf="selectedProduct" [hidden]="isHidden" [class.selected]="product===selectedProduct">
    <p>Price(USD) {{selectedProduct.price | currency}} - Price(INR) {{selectedProduct.price | currency:'INR'}} </p>
    <app-product-image [productImage]="selectedProduct"></app-product-image>
    <p class="badge text-bg-secondary">Rating {{selectedProduct.rating?.rate}}</p>
    <div class="form-group">
        <label for="comments">Comments</label>
        <input type="text" [(ngModel)]="comments" class="form-control" id="comments" placeholder="Enter comments">
        <button class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
</div>