
<!-- async pipe :used to bind observable directly -->
<div *ngFor="let product of products | async" class="box">
    <!-- {{product | json}} -->
    <h1>Today (US Format) : {{today | date}} Today (Indian Format) : {{today | date:'dd/MM/yy'}}</h1>
    <p class="lead" style="color:rgb(242, 7, 7)">{{product.category | titlecase}}</p>
    <h3>{{product.id}}</h3>
    <h2>{{product.title | uppercase}}</h2>
    <h2>Price(USD) {{product.price | currency}} - Price(INR) {{product.price | currency:'INR'}} </h2>
</div>