<div>
    <h2>Product Details</h2>
    <div *ngFor="let product of products; let i = index">
        <p>id {{product.id}}</p>
        <p>title {{product.title}}</p>
        <button (click)="showProduct(product,i)">View</button>
        <div *ngIf="selectedIndex == i">
            <p>Category {{product.category}}</p>
            <img src={{product.image}} height="100" width="100" />
            <h2>{{product.category}}</h2>
        </div>
        <!-- <p>Description {{product.description}}</p>
        <p>Category {{product.category}}</p>
        <img src={{product.image}} height="100" width="100" />
        <p>Rating {{product.rating.rate}}</p> -->
    </div>
    <!-- <div *ngIf="selectedProduct">
        <img src={{selectedProduct.image}} height="100" width="100" />
        <h2>{{selectedProduct.category}}</h2>
    </div> -->
</div>