/* You can add global styles to this file, and also import other style files */

body {
    margin-left: 70px;
    margin-right: 50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: rgb(120, 15, 241);
}

.box {
    border: 2px solid green;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: aquamarine;
}

.selected {
    background-color: rgb(191, 187, 203);
    color: rgb(215, 16, 16);
}